<!DOCTYPE html>
<html>
<head>
  <title>FlowcommerceSpree</title>
  <%= stylesheet_link_tag    "flowcommerce_spree/application", media: "all" %>
  <%= javascript_include_tag "flowcommerce_spree/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
